.statistics-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
  min-width: 0;
}

.chart-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.weekly-activity {
  flex: 1;
  max-width: 45%;
}

.monthly-history {
  flex: 1;
  max-width: 45%;
  margin-left: 5%;
}

.personal-statistics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.statistic-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
  width: 300px;
}

.icon-container {
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.statistic-content p {
  font-size: 16px;
  color: #666;
  margin: 0;
}

.statistic-content h3 {
  font-size: 24px;
  color: #333;
  margin: 5px 0 0;
}