body {
  background-color: #ffffff;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  margin-top: 5rem;
  margin-left: 250px;
  padding: 1.5rem;
  flex-grow: 1;
  overflow-y: auto;
}

.hobby-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.hobby-section-header h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.button-secondary {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.button-secondary:hover {
  opacity: 0.8;
}