.hobby-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.hobby-card {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #3a47d8, #0065ff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.hobby-card:hover {
  transform: scale(1.05);
}

.hobby-content {
  color: white;
  padding: 20px;
}

.hobby-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.hobby-title span {
  font-size: 14px;
  margin-right: 10px;
}

.hobby-title h2 {
  color: white;
  font-size: 24px;
  margin: 0;
}

.hobby-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hobby-details span {
  font-size: 14px;
}

.hobby-details p {
  font-size: 18px;
  margin: 0;
}

.hobby-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hobby-progress span {
  font-size: 18px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.progress {
  height: 100%;
  background: #fff;
  transition: width 0.3s ease;
}

/* Модальное окно */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
}

.modal input, .modal select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.modal-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #0065ff;
  color: white;
}

.modal-buttons button:last-child {
  background-color: #ccc;
}
